<.header>
  Listing Threads
  <:actions>
    <div :if={@current_user}>
      <.link href={~p"/threads/new"}>
        <.button>New Thread</.button>
      </.link>
    </div>
  </:actions>
</.header>

<.table id="threads" rows={@threads} row_click={&JS.navigate(~p"/threads/#{&1}")}>
  <:col :let={thread} label="Title">
    <.link navigate={~p"/threads/#{thread}"}>{thread.title}</.link>
  </:col>
  <:col :let={thread} label="Body">{thread.body}</:col>
</.table>
