<.header>
  New Thread
  <:subtitle>Use this form to manage thread records in your database.</:subtitle>
  <span>Create a new thread</span>
</.header>

<.thread_form changeset={@changeset} action={~p"/threads"} topic_id={@topic_id} topics={@topics} />

<.back navigate={~p"/threads"}>Back to threads</.back>
